# Python
scraper/.venv/
scraper/venv/
scraper/__pycache__/
scraper/*.pyc
scraper/scraper.log

# Scraped data
scraper/output/
scraper/output/archive/

# VS Code
.vscode/

# SSIS build artifacts
etl/EgyptianJobMarket_ETL/EgyptianJobMarket_ETL/bin/
etl/EgyptianJobMarket_ETL/EgyptianJobMarket_ETL/obj/

# Logs
*.log